// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$heading-font-family: "Lato" !default;
$body-font-family: "Lato" !default;
$font-size-root: 14px;
$headings: (
  'title': (
    'size': 20px,
    'line-height': 32px
  ),
  'subtitle-1': (
    'size': 16px,
    'line-height': 24px
  ),
  'subtitle-2': (
    'size': 14px,
    'line-height': 24px
  ),
  'body-2': (
    'size': 14px,
    'line-height': 24px
  ),
  'caption': (
    'size': 12px,
    'line-height': 22px
  ),
  'headline': (
    'size': 24px,
    'line-height': 34px
  )
);
$btn-border-radius: 0px !default;
